.work {
  padding-top: 4rem;

  &__gallery {
    display: flex;
    flex-wrap: wrap;

    li {
      flex: 1 50%;
      transition: all 250ms ease;

      @include min-width-breakpoints(laptop) {
        flex: 0 25%;
      }

      @include min-width-breakpoints(desktop) {
        flex: 1 20%;
      }
    }
  }
}
